{
  "semi": true,
  "tabWidth": 2,
  "eslintIntegration": true,
  "overrides": [
    {
      "files": "*.mdx",
      "options": {
        "parser": "mdx",
        "proseWrap": "always"
      }
    }
  ],
  "embeddedLanguageFormatting": "auto",
}
